body {
    margin: 0;
}

.hidden {
    display: none;
}

.message {
    text-align: center;
}

.header_title {
    text-align: center;
}

.box {
    border: 1px solid #000;
}

.box_wrapper {
    display: grid;
    gap: 4px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
    width: 100%;
}

.box-off {
    background-color: gray;
}